<a href="https://colab.research.google.com/github/dbtjr1103/Basic_practice/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC300%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 가이드

문제풀이 가이드

- 풀이 방식이 바로 생각이 나지 않을 때
    
    1) 생각을 글로 정리하는 훈련(제한 시간을 정할 것. 대략 10분)
    
    2) 생각이 정리되면, 정리된 생각을 코드 구현
    
    3) 제한 시간 안에 풀리지 않을 때, 정답코드 확인
    
    4) 정답코드를 글로 번역하기
    
    5) 번역한 글만보고 다시 코드로 구현해보기

- 직접 풀지 못한 문제 따로 기록해둘 것
    
    - 직접 풀지 못했지만 정답을 보고 이해하고 해결한 문제 : O
    
    - 직접 풀지 못했는데 정답을 봐도 이해가 되지 않는 문제 : 별표

- 스터디 통해서 공유할 것
    
    - 직접 풀지 못한 문제 중 여전히 풀이가 이해되지 않는 문제
    ```
    133    
    ```
    - 직접 풀지 못한 문제 중 정답을 보고 이해는 했지만, 다른 풀이가 궁금한 문제
    ```
    
    ```

LV2 대상자 가이드

1~50 생략

6주(4주+2주) 완성

 - 1주차 : 51~150 : 1일 20문제씩 풀이 (주 5일, 주말은 catch-up days)

 - 2주차 : 151~200 : 1일 10문제씩 풀이 (주 5일, 주말은 catch-up days)
 - 3주차 : 201~250 : 1일 10문제씩 풀이 (주 5일, 주말은 catch-up days)
 - 4주차 : 251~300 : 1일 10문제씩 풀이 (주 5일, 주말은 catch-up days)
 - 예상 직접 해결 못한 문제 100문제

 - +1주차 : 직접 해결하지 못한 문제 1일 10문제씩 풀이
 - +2주차 : 직접 해결하지 못한 문제 1일 10문제씩 풀이
 
직접 풀지 못한 문제 따로 * 체크 → 스터디 통해서 문제풀이 서로 공유

직접 풀지 못했지만 정답을 보고 이해하고 해결한 문제

직접 풀지 못했는데 정답을 봐도 이해가 되지 않는 문제

### 문제

#### 시작하기1~10

In [ ]:
#001
print("Hello World")

Hello World

In [ ]:
#002 
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
#003 
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
#004 
print('C:\Windows')

C:\Windows

In [ ]:
#005
# \t : 탭, \n : 줄바꿈

In [ ]:
#006
# 오늘은 일요일

In [ ]:
#007
print("naver", "kakao", "samsung", sep=';')

naver;kakao;samsung

In [ ]:
#008 
print("naver", "kakao","sk", "samsung", sep='/')

naver/kakao/sk/samsung

In [ ]:
# 009 print 줄바꿈
print("first", end='');print("second")

firstsecond

In [ ]:
# 010 연산 결과 출력
print(5/3)

1.6666666666666667

#### 변수 11~20

In [ ]:
삼성전자 = 50000
print("총 평가금액 : " + str(삼성전자*10) + "원")

총 평가금액 : 500000원

In [ ]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [ ]:
2 + 2 * 3

8

In [ ]:
a = "132"
print(type(a))

<class 'str'>

In [ ]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [ ]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [ ]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

#### 문자열 21~50

In [ ]:
letters = 'python'
print(letters[0], letters[2])

p t

In [ ]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [ ]:
string = "홀짝홀짝홀짝"

string[::2]

'홀홀홀'

In [ ]:
string = "PYTHON"
string[::-1]

'NOHTYP'

In [ ]:
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [ ]:
url = "http://sharebook.kr"

url.split(".")[-1]

'kr'

In [ ]:
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %s" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(",",""))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [ ]:
data = "   삼성전자   "
data.strip()

'삼성전자'

In [ ]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [ ]:
ticker.capitalize()

'Btc_krw'

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [ ]:
file_name = "2020_보고서.xlsx"
file_name.startswith(("2020"))

True

In [ ]:
a = "hello world"
a.split(" ")

['hello', 'world']

In [ ]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
data = "039490     "
data.rstrip()

'039490'

#### 리스트 51~70

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank
movie_rank.pop(2)

'스플릿'

In [ ]:
movie_rank
movie_rank.remove("배트맨")

In [ ]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '럭키']

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums), min(nums))

7 1

In [ ]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [ ]:
average = sum(nums) / len(nums)
average

3.0

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [ ]:
nums[1::2]

[2, 4, 6, 8, 10]

In [ ]:
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [ ]:
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [ ]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
sorted(data)

[1, 2, 3, 4, 5, 9, 10]

#### 튜플 71~80

In [ ]:
my_variable = ()

In [ ]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [ ]:
my_tuple = ("text")
type(my_tuple)

str

In [ ]:
my_tuple = ("text", )
type(my_tuple)
# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해야한다.

tuple

In [ ]:
t = 1, 2, 3, 4
type(t)

tuple

In [ ]:
t = ('a', 'b', 'c')
t = list(t)
t[0] = 'A'
t = tuple(t)
t

('A', 'b', 'c')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
print(tuple(range(2, 100, 2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

#### 딕셔너리 81~100

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, b, c = scores
print( a, b, c)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5] 7.8 9.4

In [ ]:
a, b, *c= scores
print( a, b, c)

8.8 8.9 [8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
a, *b, c= scores
print( a, b, c)

8.8 [8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8] 9.4

In [ ]:
temp = {}
type(temp)

dict

In [ ]:
ice = {
    '메로나' : 1000,
    '폴라포' : 1200,
    '빵빠레' : 1800,
}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
ice['죠스바'] = 1200
ice['월드콘'] = 1500
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
print("메로나 가격:", ice['메로나'])

메로나 가격: 1000

In [ ]:
ice['메로나'] = 1300
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
del ice['메로나']
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
inventory = {
    '메로나' : [300, 20],
    '비비빅' : [400, 3],
    '죠스바' : [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
print(inventory['메로나'][0], "원")

300 원

In [ ]:
print(inventory['메로나'][1], "개")

20 개

In [ ]:
inventory['월드콘'] = [500, 7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
type(list(icecream.values()))

list

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum(icecream.values())

6700

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
dict(zip(keys, vals))

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
dict(zip(date, close_price))

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

#### 분기문 101~130

In [ ]:
# boolean 확인

In [ ]:
a = input()
print(a*2)

12
1212

In [ ]:
num = int(input("숫자를 입력하세요:"))
print(num+10)

숫자를 입력하세요:12
22

In [ ]:
num = int(input())
if num %2 == 0:
    print("짝수")
else:
    print("홀수")

123
홀수

In [ ]:
num = input("입력값: ")
if int(num) + 20 > 255 :
    print(225)
else:
    print(int(num) + 20)

입력값: 240
225

In [ ]:
num = input("입력값: ")
if int(num) - 20 < 0 :
    print(0)
elif int(num) - 20 < 255 :
    print(int(num) - 20)
else:
    print(255)

입력값: 250
230

In [ ]:
usr = input("현재시간:")
if usr[-2:] == '00' :
    print("정각 입니다.")
else :
    print("정각이 아닙니다.")

현재시간:3:00
정각 입니다.

In [ ]:
fruit = ["사과", "포도", "홍시"]
usr = input("좋아하는 과일은? ")

if usr in fruit :
    print("정답입니다.")

좋아하는 과일은? 사과
정답입니다.

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
usr = input("종목명: ")

if usr in warn_investment_list :
    print("투자 경고 종목입니다.")
else :
    print("투자 경고 종목이 아닙니다.")

종목명: Google
투자 경고 종목입니다.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
usr = input("제가좋아하는계절은: ")
if usr in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 여름
정답입니다.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
usr = input("제가좋아하는과일은: ")
if usr in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는과일은: 토마토
정답입니다.

In [ ]:
usr = input("")
if usr.islower():
    print(usr.upper())
else:
    print(usr.lower())

ABCabc
abcabc

In [ ]:
score = int(input("score:"))

if score <= 20 :
    print("E")
elif score <= 40 :
    print("D")
elif score <= 60 :
    print("C")
elif score <= 80 :
    print("B")
else :
    print("A")

score:80
B

In [ ]:
53usr = input("입력: ").split(" ")
if usr[1] == '달러' :
    print(float(usr[0])*1167, '원')
elif usr[1] == '엔' :
    print(float(usr[0])*1.096, '원')
elif usr[1] == '유로' :
    print(float(usr[0])*1268, '원')
elif usr[1] == '위안' :
    print(float(usr[0])*171, '원')
else : 
    print("다시 입력해주세요")

입력: 123 달러
143541.0 원

In [ ]:
# 딕셔너리 사용
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
usr = input("입력: ")
money, currency  = usr.split()
print(float(money) * 환율[currency], "원")

입력: 123 달러
143541.0 원

In [ ]:
usr = []

for i in range(3):
    a = int(input(f"input number{i+1}: "))
    usr.append(a)
print(max(usr))

input number1: 3
input number2: 4
input number3: 5
5

In [ ]:
2# 반복문 미사용
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 12
input number2: 45
input number3: 6
45

In [ ]:
tel = {
    '011' : 'SKT',
    '016' : 'KT',
    '019' : 'LGU',
    '010' : '알수없음'
}
num = input("휴대전화 번호 입력: ")
num_tel = num[:3]
print(f"당신은 {tel[num_tel]} 사용자입니다.")

휴대전화 번호 입력: 010-234-2341
당신은 알수없음 사용자입니다.

In [ ]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 31231
노원구

In [ ]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 912312-1392342
남자

In [ ]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 861010-1015210
서울입니다.

In [ ]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 861010-1015210
유효하지 않은 주민등록번호입니다.

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])
if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

#### 반복문 131~200

In [ ]:
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [ ]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [ ]:
for 변수 in [10, 20, 30]: 
    print(변수)

10
20
30

In [ ]:
for 변수 in [10, 20, 30]: 
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [ ]:
print("++++")
for 변수 in [10, 20, 30]: 
    print(변수)

++++
10
20
30

In [ ]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

In [ ]:
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [ ]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: {}".format(i))

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
for i in 리스트:
    print(i[0])

d
c
p

In [ ]:
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 x", i)

3 x 1
3 x 2
3 x 3

In [ ]:
리스트 = [1, 2, 3]
for i in 리스트:
  print("3 x", i ,"=", i*3 )

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [ ]:
for i in 리스트[::2]:
    print(i)

가
다

In [ ]:
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [ ]:
# 151~160
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [ ]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [ ]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i%3 == 0  and i < 20:
        print(i)

12
18

In [ ]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [ ]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [ ]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [ ]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.endswith('.h'):
        print(i)

intra.h
define.h

In [ ]:
#161~170
# for i in range(100):
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2022, 2051, 4):
    print(i)

2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# for i in range(99, -1, -1):
for i in range(99, -1, -9):
    print(i)

99
90
81
72
63
54
45
36
27
18
9
0

In [ ]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
for i in range(1,10):
    print(f"3x{i} = {i*3}")

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [ ]:
for i in range(1,10,2):
    print(f"3x{i} = {i*3}")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [ ]:
sum = 0
for i in range(11):
    sum += i
sum

55

In [ ]:
sum = 0
for i in range(1,10,2):
    sum += i
sum

25

In [ ]:
sum = 1
for i in range(1,11):
    sum *= i
sum

3628800

In [ ]:
# 171~180
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [ ]:
for i, j in enumerate(price_list):
    print(i, j)

0 32100
1 32150
2 32000
3 32500

In [ ]:
for i in range(len(price_list)):
    print(len(price_list)-1-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
for i in range(len(price_list)-1):
    print(100+10*i, price_list[i+1])

100 32150
110 32000
120 32500

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(1,4):
    print(my_list[-i], my_list[-(i+1)])

라 다
다 나
나 가

In [ ]:
my_list = [100, 200, 400, 800]
for i in range(3):
    print(my_list[i+1]-my_list[i])

100
200
400

In [ ]:
a = [100, 200, 400, 800, 1000, 1300]
for i in range(len(a)-2):
    print((a[i]+a[i+1]+a[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
for i in range(1, len(a) - 1):
    print(abs(a[i-1] + a[i] + a[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
volatility

[50, 100, 30, 80, 0]

In [ ]:
#181~190
list = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]
list

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [ ]:
stock = {'시가' : [100, 200, 300],'종가': [80, 210, 330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
stock = {
    '10/10' : [80, 110, 70, 90],
    '10/11' : [210, 230, 190, 200]
}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    print(i[0],'호')
    print(i[1],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [ ]:
# 191~200
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

In [ ]:
for i in data:
    for j in i:
        print(j*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
result = []

for i in data:
    a = []
    for j in i:
        a.append(j*1.00014)
    result.append(a)

result

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [ ]:
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [ ]:
volatility = []
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
volatility

[40, 30, 10]

In [ ]:
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[3]-i[0])

10

In [ ]:
sum = 0
for i in ohlc[1:]:
    sum += (i[3]-i[0])
    print(sum)
sum

0
-10
0

0

#### 함수 201~240

In [ ]:
def print_coin():
    print('비트코인')

In [ ]:
print_coin()

비트코인

In [ ]:
# for i in range(100):
for i in range(10):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
def print_coins():
    # for i in range(100):
    for i in range(5):
        print("비트코인")

print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 매우 간단한 결과예측, 설명 등 skip
# 215~
def print_with_smile(string):
    print(string+":D")

In [ ]:
print_with_smile('안녕하세요')

안녕하세요:D

In [ ]:
def print_sum(a, b):
    print(a + b)

In [ ]:
def print_arithmetic_operation(a, b):
    print(f"{a} + {b} =",a+b )
    print(f"{a} - {b} =",a-b )
    print(f"{a} * {b} =",a*b )
    print(f"{a} / {b} =",a/b )

In [ ]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
def print_max(a,b,c):
    max = 0
    if a > max:
        max = a
    if b > max:
        max = b
    if c > max:
        max = c
    print(max)

In [ ]:
# 221~230
def print_reverse(string):
    print(string[::-1])

In [ ]:
print_reverse('abc')

cba

In [ ]:
def print_score(score_list) :
    print(sum(score_list)/len(score_list))

In [ ]:
print_score([1,2,3])

2.0

In [ ]:
def print_even(list):
    for i in list:
        if i % 2 == 0:
            print(i)

In [ ]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
def print_keys(dic):
    for i in dic.keys():
        print(i)

In [ ]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [ ]:
def print_value_by_key(dic, day):
        print(dic[day])

In [ ]:
print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [ ]:
def print_5xn(string):
    for i in range((len(string)//5)+1):
        print(string[i*5:i*5+5])

In [ ]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
def print_mxn(string, m):
    for i in range((len(string)//m)+1):
        print(string[i*m:i*m+m])

In [ ]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
def calc_monthly_salary(pay):
    print(int(pay/12))

In [ ]:
calc_monthly_salary(122398410)

10199867

In [ ]:
#231~240
def make_url(string):
    print(f"www.{string}.com")

In [ ]:
make_url("naver")

www.naver.com

In [ ]:
def make_list(string):
    print(list(string))

In [ ]:
make_list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
def pickup_even(list):
    even = []
    for i in list:
        if i%2 == 0:
            even.append(i)
    return even

In [ ]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
def convert_int(string):
    print(int(string.replace(',','')))

In [ ]:
convert_int("1,234,567")

1234567

In [ ]:
# 이후 예측문제

#### 모듈 241~250

In [ ]:
import datetime

now = datetime.datetime.now()
print(now)

2022-11-03 03:26:10.235036

In [ ]:
type(now)

datetime.datetime

In [ ]:
for day in range(5, 0, -1):
    delta = datetime.timedelta(days = day)
    date = now-delta
    print(date)

2022-10-29 03:26:10.235036
2022-10-30 03:26:10.235036
2022-10-31 03:26:10.235036
2022-11-01 03:26:10.235036
2022-11-02 03:26:10.235036

In [ ]:
import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

14:32:45

In [ ]:
import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [ ]:
import time
import datetime

stop = 0
while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)
    
    stop += 1
    if stop == 5:
        break

2022-11-04 14:34:28.477181
2022-11-04 14:34:29.480789
2022-11-04 14:34:30.482077
2022-11-04 14:34:31.483415
2022-11-04 14:34:32.484707

In [ ]:
import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [ ]:
import os
os.rename("/content/Day1.ipynb", "/content/Day01.ipynb")

In [ ]:
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

#### 클래스 251~290

In [ ]:
# 클래스 : 변수와 함수를 재사용하기위해 구조화하는 용법
# 객체 : self.    
# 인스턴스 : 클래스에 속한 객체

In [ ]:
class Human():
    pass

In [ ]:
class Human():
    pass

areum = Human()

In [ ]:
class Human():
    def __init__(self):
        print('응애응애')

areum = Human()

응애응애

In [ ]:
class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("조아름", 25, "여자")

In [ ]:
print("이름: {}, 나이: {}, 성별: {}".format(areum.name, areum.age, areum.sex))

이름: 아름, 나이: 25, 성별: 여자

In [ ]:
class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(areum.name, areum.age, areum.sex) )

areum = Human("조아름", 25, "여자")
areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [ ]:
class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(areum.name, areum.age, areum.sex) )

areum = Human("조아름", 25, "여자")
areum.who()

In [ ]:
class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(areum.name, areum.age, areum.sex))

    def setinfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("모름", 0, "모름")
areum.setinfo("아름", 25, "여자")

In [ ]:
class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(areum.name, areum.age, areum.sex))

    def setinfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    ## 소멸자
    def __del__(self):
        print("나의 죽음을 알리지 말라")

In [ ]:
areum = Human("아름", 25, "여자")
del areum

나의 죽음을 알리지 말라

In [ ]:
class OMG : 
    def print() :
        print("Oh my god")

myStock = OMG()
myStock.print()

TypeError: ignored

In [ ]:
# print() takes 0 positional arguments but 1 was given
# self 가 없어서.. mystock이 print 안으로 들어감
class OMG : 
    def print(self) :
        print("Oh my god")

myStock = OMG()
myStock.print()

Oh my god

In [ ]:
# 251~ 다시 연습

In [ ]:
# 클래스 : 변수와 함수를 재사용하기위해 구조화하는 용법
# 객체 : self!
# 인스턴스 : 클래스 내에 속해있는 객체

In [ ]:
class Human:
    pass

In [ ]:
class Human:
    pass

areum = Human

In [ ]:
class Human:
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

In [ ]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, '여자')

In [ ]:
areum.name
areum.age
areum.sex

'여자'

In [ ]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print(f"이름: {self.name}, 나이: {self.age}, 성별: {self.sex}")

areum = Human("조아름", 25, '여자')
areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [ ]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print("나의 죽음을 알리지 말라")

    def who(self):
        print(f"이름: {self.name}, 나이: {self.age}, 성별: {self.sex}")

areum = Human("조아름", 25, '여자')
del areum

나의 죽음을 알리지 말라

In [ ]:
# self 써주는것 기억!!

In [ ]:
# 261~280
class Stock:
    pass

In [ ]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
삼성 = Stock("삼성전자", "005930")
삼성.name
삼성.code

'005930'

In [ ]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

In [ ]:
a = Stock(None, None)
a.set_name("삼성전자")
a.name

'삼성전자'

In [ ]:
a.set_code("005930")
a.code

'005930'

In [ ]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code

삼성 = Stock("삼성전자", "005930")

In [ ]:
삼성.get_name()

'삼성전자'

In [ ]:
삼성.get_code()

'005930'

In [ ]:
class Stock:
    def __init__(self, name, code, per, pbr, rate):
        self.name = name
        self.code = code
        self.per = float(per)
        self.pbr = float(pbr)
        self.rate = float(rate)        

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code
    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code

In [ ]:
삼성 = Stock('삼성전자','005930',15.79,1.33,2.83)

In [ ]:
삼성.rate

2.83

In [ ]:
class Stock:
    def __init__(self, name, code, per, pbr, rate):
        self.name = name
        self.code = code
        self.per = float(per)
        self.pbr = float(pbr)
        self.rate = float(rate)        

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code
    def set_per(self, per):
        self.per = per
    def set_pbr(self, pbr):
        self.pbr = pbr
    def set_dividend(self, rate):
        self.rate = rate

    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code

In [ ]:
삼성 = Stock('삼성전자','005930',15.79,1.33,2.83)

In [ ]:
삼성.per # 15.79
삼성.set_per(12.75)
삼성.per

12.75

In [ ]:
삼성전자 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
현대차 = Stock('현대차', '005380', 8.70, 0.35, 4.27)
LG전자 = Stock('LG전자', '066570', 317.34, 0.69, 1.37)

In [ ]:
종목 = [삼성전자, 현대차, LG전자]

In [ ]:
for i in 종목:
    print(i.name, i.code, i.per)

삼성전자 005930 15.79
현대차 005380 8.7
LG전자 066570 317.34

In [ ]:
#271
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3

In [ ]:
#272
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3

        Account.account_count += 1

In [ ]:
kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [ ]:
#273
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3

        Account.account_count += 1
    
    def get_account_num(cls):
        print(cls.account_count)

In [ ]:
kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [ ]:
#274
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3

        Account.account_count += 1
    
    def get_account_num(cls):
        print(cls.account_count)
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

In [ ]:
#275
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3

        Account.account_count += 1
    
    def get_account_num(cls):
        print(cls.account_count)
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

In [ ]:
#276
import random

class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3

        Account.account_count += 1
    
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount    

    def display_info(self):
        print(f'은행이름 : {self.bank}')
        print(f'예금주 : {self.name}')
        print(f'계좌번호 : {self.account_number}')
        print(f'잔고 : {self.balance}')

In [ ]:
p = Account("파이썬", 10000)
p.display_info()

은행이름 : SC은행
예금주 : 파이썬
계좌번호 : 105-14-462956
잔고 : 10000

In [ ]:
# 281~
class 차():
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

In [ ]:
car = 차(2,1000)
print(car.바퀴)
print(car.가격)

2
1000

In [ ]:
class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

In [ ]:
bicycle = 자전차(2, 100)
print(bicycle.가격)

100

In [ ]:
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

In [ ]:
bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

시마노
2

In [ ]:
class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)
    
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

In [ ]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100

In [6]:
#291~
f = open('매수종목1.txt', mode='wt', encoding='utf-8')
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
f = open("매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [9]:
import csv

f = open("매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [10]:
f = open("매수종목1.txt", encoding="utf-8")
lines = f.readlines()   # python list

codes = []
for line in lines:
    code = line.strip()  #'\n'
    codes.append(code)

print(codes)

f.close()

['005930', '005380', '035420']

In [11]:
f = open("매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()     # '\n' 제거
    k, v = line.split()
    #print(k, v)
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [8]:
# 예외처리
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [13]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [14]:
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [15]:
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [16]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료

### 직접 못한 문제(1)

In [17]:
#133
변수 = ['A','B','C']
for i in 변수:
    print(i)

A
B
C

In [22]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dict, key):
    print(dict[key])

In [23]:
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [25]:
# 226
def print_5xn(text):
    ent = int(len(text) / 5)
    for i in range(ent + 1):
        print(text[i*5:i*5+5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 모듈

### 직접 못한 문제(2)